$offWhiteLight: #F8F5F2;
$offWhite: #E6DDD0;
$blue : #2B2D42;
$lightBlue : #658E9C;
$green : #37A667;
$pink : #9882AC;

:root {
	--offWhiteLight: #F8F5F2;
	--offWhite: #E6DDD0;
	--blue : #2B2D42;
	--lightBlue : #658E9C;
	--green : #37A667;
	--pink : #9882AC;
}
