$grey: #b2b2a8;
$black: #3e3b36;

:root {
    --black: #3e3b36;
    --grey: #b2b2a8;
}

@font-face {
    font-family: 'PP Editorial New';
    src: url('assets/fonts/PPEditorialNew-Regular.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

